[package]
name = "settlement-circuit"
version = "0.1.0"
edition = "2021"
authors = ["Hegemon Contributors"]
description = "STARK circuit for settlement batch commitments."
license = "Apache-2.0"

[dependencies]
winterfell = { version = "0.13.1", default-features = false }
winter-crypto = { version = "0.13.1", default-features = false, optional = true }
transaction-core = { path = "../transaction-core", default-features = false }

[features]
default = ["std"]
std = ["winterfell/std", "winter-crypto", "winter-crypto/std", "transaction-core/std"]
stark-verify = ["winter-crypto"]
stark-fast = []

[lints]
workspace = true
